<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="motoman_mh5_transmission" params="prefix">

    <transmission name="${prefix}joint_s_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_s">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_s_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="${prefix}joint_l_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_l">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_l_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="${prefix}joint_u_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_u">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_u_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="${prefix}joint_r_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_r">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_r_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="${prefix}joint_b_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_b">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_b_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="${prefix}joint_t_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint_t">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint_t_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
