<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="motoman_mh5_gazebo" params="prefix">

    <gazebo reference="${prefix}base_link">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}link_s">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}link_l">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}link_u">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}link_r">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}link_b">
      <selfCollide>true</selfCollide>
    </gazebo>
    <gazebo reference="${prefix}link_t">
      <selfCollide>true</selfCollide>
    </gazebo>
  </xacro:macro>

</robot>
